.contentAlan{
width:990px;
margin-left:auto;
margin-right:auto;
	
}
.solContentAlan{
width:192px;
margin-left:8px;
margin-top:10px;
margin-bottom:10px;
float:left;
}

.sagContentAlan{
width:780px;
margin-left:10px;
margin-top:10px;
margin-bottom:10px;
float:left;
}

.ustKategori{
	width: 192px;
	height: 300px;

}

.altKategori{
	width: 192px;
	margin-top: 10px;
	height: 300px;
	

}

.solKategoriCubuk{
	width: 10px;
	height: 45px;
	float: left;
	background-image: url(../_images/solCubukBG.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.ortaKategoriCubuk{
	width: 172px;
	height: 45px;
	float: left;
	background-image: url(../_images/ortaCubukBG.png);
	background-repeat: repeat-x;
	background-position: left top;
	display: block;
	font-family: Arial, Tahoma, Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #003;
	text-decoration: none;
	line-height: 45px;
	text-align: center;
}

.sagKategoriCubuk{
	width: 10px;
	height: 45px;
	float: left;
	background-image: url(../_images/sagCubukBG.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.kategoriKutu{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5px;
	border-left: 2px solid #eaeaea;
	border-right: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: -1;
	behavior: url(_css/ie-css3.htc);
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.sliderDestek{
width:772px;
height:252px;
}

.anaUrunKutu{
width:772px;
margin-top:10px;

}

.anaUrunBaslik{
width:772px;
height:40px;

}

.anaUrunListe{
width:772px;
margin-top:10px;
}

.solAnaBaslikUrunListe{
	width: 10px;
	height: 40px;
	float: left;
	background-image: url(../_images/solAnaUrunListeBG.png);
	background-repeat: no-repeat;
	background-position: left center;
	
}
.ortaAnaBaslikUrunListe{
	width: 742px;
	height: 40px;
	float: left;
	background-image: url(../_images/ortaAnaUrunListeBG.png);
	background-repeat: repeat-x;
	background-position: left center;
	font-family: Arial, Tahoma, Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #003;
	text-decoration: none;
	line-height: 40px;
	padding-right: 5px;
	padding-left: 5px;
	
}
.sagAnaBaslikUrunListe{
	width: 10px;
	height: 40px;
	float: left;
	background-image: url(../_images/sagAnaUrunListeBG.png);
	background-repeat: no-repeat;
	background-position: left center;
	
}

.sliderAlan{
	width: 575px;
	height: 252px;
	float: left;
	margin: 0px;
	padding: 0px;

}

.onlineDestek{
	width: 187px;
	float: left;
	margin-left: 9px;
	
}
.onlineDestekBaslik{
width:179px;
height:40px;
display:block;

}

.solOnlineDestekCubuk{
	width: 10px;
	height: 40px;
	float: left;
	display: block;
	background-image: url(../_images/solAnaUrunListeBG.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}

.ortaOnlineDestekCubuk{
	width: 159px;
	height: 40px;
	float: left;
	display: block;
	background-image: url(../_images/ortaAnaUrunListeBG.png);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: Arial, Tahoma, Verdana;
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: #003;
	text-decoration: none;
	text-align: center;
	
}


.sagOnlineDestekCubuk{
	width: 10px;
	height: 40px;
	float: left;
	display: block;
	background-image: url(../_images/sagAnaUrunListeBG.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}


.musteriHizmetleri{
	width: 179px;
	display: block;
	text-align: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #003;
	text-decoration: none;
	padding: 5px;
	
	}

.onlineDestekImage{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 169px;
	text-align: center;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 150px;

}

.emailUyelik{
	width: 179px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	font-weight: normal;
	display: block;
	text-align: center;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 25px;
	text-decoration: none;
	color: #003;
	height: 20px;


}

.emailUyelikBaslik{
	display: block;
	line-height: 30px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #003;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
	width: 170px;

}
.ustKategori .kategoriKutu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.ustKategori .kategoriKutu ul li a {
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
}
.ustKategori .kategoriKutu ul li a:link {
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #4B4B4B;
	text-decoration: none;
}
.ustKategori .kategoriKutu ul li a:visited {
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #4B4B4B;
	text-decoration: none;
}
.ustKategori .kategoriKutu ul li a:hover {
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

.altKategori .kategoriKutu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.altKategori .kategoriKutu ul li a {
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
}
.altKategori .kategoriKutu ul li a:link {
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #4B4B4B;
	text-decoration: none;
}
.altKategori .kategoriKutu ul li a:visited {
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #4B4B4B;
	text-decoration: none;
}
.altKategori .kategoriKutu ul li a:hover {
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

.baslikKutu{
	display: block;
	padding: 5px;
	height: 20px;
	font-family: Arial, Tahoma, Verdana;
	color: #003;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #003;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;

}

.uyeProfilBaslikKutu{
width:630px;
margin-left:auto;
margin-right:auto;
display: block;
padding: 5px;
height: 20px;
font-family: Arial, Tahoma, Verdana;
color: #003;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #003;
font-size: 14px;
line-height: 20px;
font-weight: bold;
text-decoration: none;
	

}

.kayitOlKutu{
	width: 800px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;

	
}

.kayitAlanBaslik{
	width: 100px;
	float: left;
	padding: 5px;
	line-height: 30px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}
.urunEkleAlanBaslik{
	width: 150px;
	float: left;
	padding: 5px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

.kayitText  {
	padding: 5px;
	border: 2px solid #eaeaea;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
	behavior: url(_css/ie-css3.htc);
	background-color: #FFF;
	width: 265px;
	margin-left: 5px;
	
}

.kullaniciGirisKutu{
width:100%;
padding:10px;

}

.kullaniciGirisAlan{
	width: 710px;
	height: 170px;
	margin-left: auto;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 40px;

}

.urunAramaListe{
width:100%;
padding:10px;
	
}

.urunTalepAlan{
	width: 650px;
	padding:5px;

	margin-top: 10px;
	border: 1px solid #eaeaea;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
	behavior: url(_css/ie-css3.htc);
	background-color: #FFF;
}

.uyeProfilAlan{
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid #eaeaea;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
	behavior: url(_css/ie-css3.htc);
	background-color: #FFF;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}


.uyeProfilBilgi{
	width: 500px;
	float: left;
	text-align: left;
	padding: 5px;
	float: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
}