input:focus::-webkit-input-placeholder {
	color: transparent;
	font-weight: bold;
}

input:focus:-moz-placeholder {
	font-weight: bold;
	color: black;
}

.urunAra {
	width: 300px;
	height: 23px;
	line-height: 23px;
	padding: 5px;
	float: left;
	border: 1px solid #eaeaea;
	color: #000000;

	font-weight: normal;
}

.aramaYap {
	display: block;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
}

.emailKayitGonder {
	width: 405px;
	margin-top: 10px;
}

.butonSubmit {
	margin: 10px;
	text-align: right;
	float: right;
	display: block;
}

.emailText {
	width: 173px;
	border: 1px solid #eaeaea;
	padding: 3px;
	color: #cecece;
}

.emailGonder {
	display: block;
	float: right;
}

.formTalepText {
	width: 250px;
	float: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 12px;
	margin-left: 5px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #eaeaea;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
	behavior: url(_css/ie-css3.htc);
	background-color: #FFF;
}